html {
  color: rgb(3, 3, 3);
  background: #c3ccff;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265330/logo.png);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 500px;
}

h1 {
  color: rgb(1, 10, 51);
  font-size: 22px;
  text-align: center;
}

h2 {
  background-color: rgb(12, 0, 5);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 0;
  padding: 8px;
  font-size: 20px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgb(7, 88, 94);
  padding: 10px;
  border-radius: 5px;
  border: 5px solid black;
}

p {
  text-align: center;
}

.card {
  margin: 5px;
  background: white;
  border-radius: 10px;
  width: 275px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(https://i.pinimg.com/originals/0e/22/de/0e22de1ebe4dfc6b69bf6fad4dea090b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0.15;
  margin-bottom: -60px;
}
